<?php
use AtansUser\Entity\User;

return array(
    'atansuser' => array(
        /**
         * Enable registration
         */
        // 'object_manager' => 'doctrine.entitymanager.orm_default',

        /**
         * Enable registration
         */
        // 'enable_registration' => true,

        /**
         * User default roles
         */
        // 'user_default_roles'  => array(),

        /**
         * User default status
         */
        // 'user_default_status' => User::STATUS_ACTIVE,

        /**
         * Login after registration
         */
        // 'login_after_registration' => true,

        /**
         * Auth identity fields
         */
        // 'auth_identity_fields' => array('username', 'email'),

        /**
         * User login redirect route
         */
        // 'login_redirect_route' => 'atansuser',

        /**
         * User logout redirect rote
         */
        // 'logout_redirect_route' => 'atansuser/login',

        /**
         * User index template
         */
        // 'user_index_template' => 'atans-user/user/index',

        /**
         * Use redirect parameter if present
         */
        // 'use_redirect_parameter_if_present' => true,

        /**
         * User password cost
         */
        // 'password_cost' => 14,

        /**
         * Enable user status
         */
        // 'enable_user_status' => true,

        /**
         * Allowed user statuses
         */
        // 'allowed_user_statuses' => array(User::STATUS_ACTIVE),
    ),
);
