<?php

return array(
    'atansuser' => array(
        /**
         * 是否開放用戶註冊
         */
        // 'enable_registration' => true,

        /**
         * 用戶默認角色
         */
        // 'user_default_roles'  => array('member'),

        /**
         * 登入重定向路由
         */
        // 'login_redirect_route' => 'atansuser',

        /**
         * 登入重定向路由
         */
        // 'logout_redirect_route' => 'atansuser/login',

        /**
         * 用戶首頁模板
         */
        // 'user_index_template' => 'atans-user/user/index',
    ),
);
