<?php

return array(
    'atansuser' => array(
        /**
         * Enable registration
         */
        // 'enable_registration' => true,

        /**
         * User default roles
         */
        // 'user_default_roles'  => array(),

        /**
         * User login redirect route
         */
        // 'login_redirect_route' => 'atansuser',

        /**
         * User logout redirect rote
         */
        // 'logout_redirect_route' => 'atansuser/login',

        /**
         * User index template
         */
        // 'user_index_template' => 'atans-user/user/index',

        /**
         * Use redirect parameter if present
         */
        // 'use_redirect_parameter_if_present' => true,

        /**
         * User password cost
         */
        // 'password_cost' => 14,
    ),
);
